$dk-color: rgb(1,31,75);

$primary-color: rgb(59,89,152);
$sec-color: rgb(139,157,195);

$lightblue-color: rgb(223,227,238);
$dkwhite-color: rgb(247,247,247);
$white-color: rgb(255,255,255);

$box-shadow: rgba(59, 88, 152, 0.575);